<div class='dot-indicators flex' role='tablist' aria-label='crew member list'>
  {{#each @model as |crew index|}}
    <button
      {{did-insert this.setActive}}
      aria-selected='false'
      role='tab'
      tabindex={{index}}
      type='button'
      {{on 'click' (fn this.changeCrewMember index)}}
    >
      <span class='sr-only'>{{crew.role}}</span>
    </button>
  {{/each}}
</div>

<article
  class='crew-details flow'
  id='commander-tab'
  role='tabpanel'
  tabindex='0'
>
  <header class='flow flow--space-small'>
    <h2 class='fs-600 ff-serif uppercase'>{{this.crewMember.role}}</h2>
    <p class='fs-700 ff-serif uppercase'>{{this.crewMember.name}}</p>
  </header>
  <p>{{this.crewMember.bio}}</p>
</article>
<picture id='commander-image'>
  <source srcset={{this.crewMember.images.webp}} type='image/webp' />
  <img src={{this.crewMember.images.png}} alt='Douglas Hurley' />
</picture>