<div class='dot-indicators flex' role='tablist' aria-label='crew member list'>
  {{#each @model as |crew|}}
    <button
      role='tab'
      tabindex='0' type="button" {{on 'click' (fn this.changeCrewMember crew.role)}}
    >
      <span class='sr-only'>{{crew.role}}</span>
    </button>
  {{/each}}
</div>

<article
  class='crew-details flow'
  id='commander-tab'
  role='tabpanel'
  tabindex='0'
>
  <header class='flow flow--space-small'>
    <h2 class='fs-600 ff-serif uppercase'>{{this.showCrewMember.role}}</h2>
    <p class='fs-700 ff-serif uppercase'>{{this.showCrewMember.name}}</p>
  </header>
  <p>{{this.showCrewMember.bio}}</p>
</article>
<picture id='commander-image'>
  <source srcset={{this.showCrewMember.images.webp}} type='image/webp' />
  <img src={{this.showCrewMember.images.png}} alt='Douglas Hurley' />
</picture>