<div
  class='ff-serif numbered-indicators flex'
  role='tablist'
  aria-label='technology list'
>
  {{#each @model as |technology index|}}
    <button
      {{did-insert this.setActive}}
      aria-selected='false'
      role='tab'
      tabindex={{index}}
      type='button'
      {{on 'click' (fn this.changeTechnology index)}}
    >
      <span>{{technology.id}}</span>
    </button>
  {{/each}}
</div>

<article
  class='technology-details flow'
  id='commander-tab'
  role='tabpanel'
  tabindex='0'
>
  <header class='flow flow--space-small'>
    <h2 class='fs-600 ff-sans-cond text-accent uppercase'>The Terminology...</h2>
    <p class='fs-700 ff-serif uppercase'>{{this.chosenTech.name}}</p>
  </header>
  <p>{{this.chosenTech.description}}</p>
</article>
<picture>
  <source
    media='(min-width: 720px)'
    srcset={{this.chosenTech.images.portrait}}
  />
  <img src={{this.chosenTech.images.landscape}} />
</picture>