<picture id='moon-image'>
  <source srcset={{this.showDestination.images.webp}} type='image/webp' />
  <img src={{this.showDestination.images.png}} alt='the moon' />
</picture>

<div
  class='tab-list underline-indicators flex'
  role='tablist'
  aria-label='destination list'
>
  {{#each @model as |destination index|}}
    <button
      aria-selected='true'
      role='tab'
      class='uppercase ff-sans-cond text-accent letter-spacing-2'
      tabindex={{index}}
      type='button'
      {{on 'click' (fn this.changeDestination destination.name index)}}
    >{{destination.name}}</button>
  {{/each}}
</div>

<p>{{this.destinationName}}</p>
<article class='destination-info flow' tabindex='0' role='tabpanel'>
  <h2 class='fs-800 uppercase ff-serif'>{{this.showDestination.name}}</h2>

  <p>{{this.showDestination.description}}</p>

  <div class='destination-meta flex'>
    <div>
      <h3 class='text-accent fs-200 uppercase'>Avg. distance</h3>
      <p class='ff-serif uppercase'>{{this.showDestination.distance}}</p>
    </div>
    <div>
      <h3 class='text-accent fs-200 uppercase'>Est. travel time</h3>
      <p class='ff-serif uppercase'>{{this.showDestination.travel}}</p>
    </div>
  </div>
</article>